.li::after{
    content: "";
    position: absolute;
    left: 19px;
    top: 0;
    z-index: -1;
    width: 40px;
    height: 100%;
    border-left: 1px solid #fff;
}

.time{
    color: #d8392b;
    font-size: 12px;
    padding: 1px 10px;
    display: inline-block;
    border-radius: 20px;
    font-weight: 600;
    background-color: #252525;
    opacity: .8;
}

.button:hover::before {
    transform: translateX(0%);
    transition: all .3s ease-out;
}

.button:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F13024;
    transform: translateX(100%);
    transition: all .3s ease-out;
}

.button {
    overflow: hidden;
    display: inline-block;
    line-height: 1.4;
    border-radius: 35px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: all .25s ease-in-out;
    text-transform: uppercase;
    text-decoration: none !important;
    position: relative;
    z-index: 1;
    padding: 16px 0px 16px 25px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    outline: none !important;
}

.button-icon {
    position: absolute;
    right: -1px;
    top: -1px;
    bottom: 0;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    color: #fff;
    border-radius: 50%;
    background-color: #F13024;
}